
<div>
    <label>create user</label>
    <form>
        <input type="text" [(ngModel)]="name" placeholder="Enter your name">
        <input type="text" [(ngModel)]="email" placeholder="Enter your email">
        <button (click)="onAddUser()">create user</button>
    </form>
</div>

<div>
    <label>add friend to user</label>
    <form>
        <input type="text" [(ngModel)]="src_email" placeholder="Enter your email">
        <input type="text" [(ngModel)]="dest_email" placeholder="Enter your friend's email">
        <button (click)="onAddFriend()">add friend</button>
    </form>
</div>
