

<div *ngIf="authService.currentUser == null; then show_login else show_content"></div>

<ng-template #show_login>
    <dialog-create-user/>
    <app-user-login/>
</ng-template>

<ng-template #show_content>
    <dialog-add-friends/>
    <conversation-list [(src)]="currentConversation"/>

    <div *ngIf="currentConversation == null; then please_select_convo else open_convo"></div>
</ng-template>

<ng-template #please_select_convo>
    <p>Please select a conversation</p>
</ng-template>

<ng-template #open_convo>
    <app-message-history-viewport [(src)]="currentConversation"/>
    <app-send-message [(src)]="currentConversation"/>
</ng-template>