
<div class="main">
    <div *ngIf="authService.currentUser == null; then landing_page else playground"></div>
</div>

<ng-template #landing_page>
    <form-register/>
    <form-login/>
</ng-template>

<ng-template #playground>
    <div class="viewport-social">
        <friends-list/>
        <conversation-list [(selected)]="currentConversation"/>
    </div>

    <div class="viewport-primary">
        <div *ngIf="currentConversation == null; then please_select_conversation else opened_conversation"></div>
    </div>
</ng-template>

<ng-template #please_select_conversation>
    <p>Please select a conversation</p>
</ng-template>

<ng-template #opened_conversation>
    <app-message-history-viewport [(src)]="currentConversation"/>
    <app-send-message [(src)]="currentConversation"/>
</ng-template>
