

<div *ngIf="authService.currentUser == null; then show_login else show_content"></div>

<ng-template #show_login>
    <dialog-create-user/>
    <app-user-login/>
</ng-template>

<ng-template #show_content>
    <dialog-add-friends/>
    <conversation-list (getSelection)="conversationChanged($event)"/>

    <div *ngIf="currentConversation != null">
        <app-message-history-viewport [src]="currentConversation"/>
        <app-send-message [(src)]="currentConversation" />
    </div>
</ng-template>
